extends ./layout.jade

block title
	title Payment successful

block content
	.alert.alert-info(role="alert").
		You have successfully completed the payment. We'll notify you as soon as we send the note.